body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;

  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 120px;
}

.buttons a {
  padding: 15px 30px;
  margin: 10px;
  background: white;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.buttons a:hover {
  transform: scale(1.1);
  background: #ffdd57;
}

form {
  background: white;
  color: black;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

#students div {
  background: white;
  color: black;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}